{{ $sectionID := replace (lower .section.name) " " "-"  }}
{{ if .section.id }}
{{ $sectionID = .section.id }}
{{ end }}

<div class="container-fluid anchor pb-5 education-section">
  {{ if not (.section.hideTitle) }}
    <h1 class="text-center">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ else }}
    <h1 class="text-center" style="display: none">
        <span id="{{ $sectionID }}"></span>{{ .section.name }}</h1>
  {{ end }}

    <div class="container">
        <table class="education-info-table">
            <tbody>
                {{ range .presentations}}
                <tr>
                    <td class="icon">
                        <div class="hline"></div>
                        <div class="icon-holder">
                            <i class="{{ .icon }}"></i>
                        </div>
                    </td>
                    <td class="line">
                        <div></div>
                    </td>
                    <td class="details">
                        <div class="degree-info card">
                            <div class="row">
                                <div class="col-lg-10 col-md-8">
                                    <h5>{{ .name }}</h5>
                                </div>
                                <div class="timeframe col-lg-2 col-md-4">{{ .timeframe }}</div>
                            </div>
                            {{ if .meetup.url }}
                                <h6><a href="{{ .meetup.url }}" title="{{ .meetup.name }}" target="_blank" rel="noopener">{{ .meetup.name }}</a></h6>
                            {{ else }}
                                <h6>{{ .meetup.name }}</h6>
                            {{ end }}
                            {{ if .assets }}
                                <div class="assets">
                                    <h6 class="text-muted">Resources</h6>
                                    <ul>
                                        {{ range .assets }}
                                            {{ if .url }}
                                                <li><a href="{{ .url }}" title="{{ .title }}" target="_blank" rel="noopener">{{ .title }}</a></li>
                                            {{ else }}
                                                <li>{{ .title }}</li>
                                            {{ end }}
                                        {{ end }}
                                    </ul>
                                </div>
                            {{ end }}
                        </div>
                    </td>
                </tr>
                {{ end }}
            </tbody>
        </table>
    </div>
</div>
